<app-navbar></app-navbar>
<div class="container">
    <main>
        <div class="row row-cols-1 row-cols-md-3 mb-3">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-body">
                        <h4 class="my-0 fw-normal mb-3">Tasks Low</h4>
                        <h1 class="card-title pricing-card-title">{{ lowPriorityTasks() }}</h1>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-body">
                        <h4 class="my-0 fw-normal mb-3">Tasks Medium</h4>
                        <h1 class="card-title pricing-card-title">{{ mediumPriorityTasks() }}</h1>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-body">
                        <h4 class="my-0 fw-normal mb-3">Tasks High</h4>
                        <h1 class="card-title pricing-card-title">{{ highPriorityTasks() }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
