<app-navbar></app-navbar>
<div class="container">

    <div class="row">
        <div class="col-3 ms-auto text-end">
            <button (click)="addTask()" class="btn btn-primary">Nouvelle Tâche</button>
        </div>
    </div>

    <hr>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a (click)="changeTab(1)" [ngClass]="{ 'active': selectedTab === 1 }" class="nav-link">Mes tâches </a>
        </li>
        <li class="nav-item">
            <a (click)="changeTab(2)" [ngClass]="{ 'active': selectedTab === 2 }" class="nav-link">Tâches Partagées</a>
        </li>
    </ul>
    <br>
    @if (selectedTab === 1) {
        <app-my-tasks></app-my-tasks>
    }

    @if (selectedTab === 2) {
        <app-share-tasks></app-share-tasks>
    }
</div>
